.booking {
  display: flex;
  position: relative;
  width: 41.66666667%;
  height: 736.78px;
  z-index: 99;
  color: #333333;
  font-family: 'Calibre', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  background-color: white;
  margin-top: 300px;
  margin-bottom: 10px;
  flex-direction: column;
  padding-top: 1000px;
  padding-left: 1000px;
  padding-right: 0;
}
.container {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  top: -61px;
  z-index: 19;
}
.nightly-pricing-container {
  height: 78px;
  width: 319px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  display: flex;
  padding: 13px 10px;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nightly-price {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  color: #333333;
  font-size: 2.6rem;
  line-height: 0.9;
  margin: 2px 0 0;
  min-height: 2.6rem;
}
span .per {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  color: #757575;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 5px;
}
.dates-and-guests {
  width: 319px;
  height: 189px;
  border-bottom: 0;
  border-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.8rem;
  background-color: white;
  border: 1px solid #ebebeb;
  padding: 10px;
  color: #333333;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333333;
}
.col-xs-6 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
.check-in-btn {
  box-sizing: border-box;
  font-size: 1.8rem;
  width: 50%;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  transition: background-color 0.3s ease 0s;
}
.check-out-btn {
  box-sizing: border-box;
  font-size: 1.8rem;
  width: 50%;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  transition: background-color 0.3s ease 0s;
}
.label {
  display: block;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-size: 1.8rem;
  color: #333333;
  font-weight: 500;
  text-align: left;
  border-radius: 0;
  padding: .2em .6em .3em;
  font-weight: bold;
}
.value {
  white-space: nowrap;
  color: #333333;
  font-size: 1.4rem;
}
.guests {
  cursor: pointer;
  border-bottom: 1px solid #ebebeb;
  transition: background-color 0.3s ease 0s;
  width: 100%;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
#booking-btn {
  color: #fff;
  border: 1px solid #ebebeb;
  padding: 10px;
  width: 100%;
  justify-content: center;
}
#booking-btn:hover {
  border: 3px solid #40d9ac;
}
#check-in-cal {
  width: 100;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#date-picker {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  border-radius: 4px;
  direction: ltr;
  user-select: none;
}
.next-month {
  content: "";
  right: 8px;
}
th.dow {
  height: 20px;
  padding: 0;
  font-size: 0.8em;
  color: #4d4d4d;
  background-color: #fff;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
.past {
  content: "";
  cursor: default;
  border-bottom: 1px solid #333333;
  position: absolute;
  left: 15px;
  top: 6px;
  width: 25px;
  height: 16px;
  color: #757575 !important;
  background-color: #ebebeb !important;
  border-color: #ebebeb !important;
  position: relative;
}
.day {
  font-size: 1.2em;
  font-weight: 300;
  color: #333333;
  background-color: #fff;
  border: 1px solid #ebebeb;
}