/* fonts */
@font-face {
  font-family:"Calibre";
  src:url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Regular.eot");
  src:url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"),
  url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Regular.woff") format("woff"),
  url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Regular.woff2") format("woff2");
  font-weight:400;
  font-style:normal;
}

@font-face{
  font-family:"Calibre";
  src:url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Medium.eot");
  src:url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Medium.eot?#iefix") format("embedded-opentype"),url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Medium.woff") format("woff"),url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Medium.woff2") format("woff2");
  font-weight:500;
  font-style:normal;
}

@font-face{
  font-family:"Calibre";
  src:url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Semibold.eot");
  src:url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Semibold.eot?#iefix") format("embedded-opentype"),url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Semibold.woff") format("woff"),url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Semibold.woff2") format("woff2");
  font-weight:700;
  font-style:normal;
}

@font-face{
  font-family:"Calibre";
  src:url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Light.eot");
  src:url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"),url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Light.woff") format("woff"),url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/CalibreWeb-Light.woff2") format("woff2");
  font-weight:200;
  font-style:normal;
}

@font-face{
  font-family:"hc-awesome";
  src:url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/hc-awesome.eot") format("embedded-opentype"),
  url('https://fec-overview.s3-us-west-2.amazonaws.com/calibre/hc-awesome.woff2') format("woff2"),
  url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/hc-awesome.woff") format("woff"),
  url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/hc-awesome.ttf") format("truetype"),
  url("https://fec-overview.s3-us-west-2.amazonaws.com/calibre/hc-awesome.svg") format("svg");
  font-weight:normal;
  font-style:normal;
}
/* basic widget rules */
html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  height: 100%;
  line-height: 1.42;
  color: #333333;
  background-color: white;
}
#booking {
  display: flex;
  position: absolute;
  height: 100%;
  width: 319px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1000px;
  padding-right: 10px;
}
aside.booking-container {
  position: absolute;
  width: 100%;
  /* top: -61px; */
  top: 50px;
  z-index: 19;
}
.booking {
  position: relative;
  width: 319px;
  z-index: 99;
}

/* pricing */
.pricing-container {
  min-height: 74px;
  background-color: #fff;
  color: #757575;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
  min-width: 150px;
}
.banner-container, .nightly-pricing-container {
  padding: 13px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 150px;
  font-size: 16px;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nightly-price {
  align-items: center;
  display: flex;
  color: #333333;
  font-size: 2.6rem;
  line-height: 0.9;
  margin: 2px 0 0;
  min-height: 2.6rem;
}
.well-content.pricing {
  border-top: 0;
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
}
ul.summary {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  justify-content: space-between;
}
ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.subtotal-list-item {
  margin-bottom: 10px !important;
}
.s-fw--medium {
  font-weight: 500 !important;
}
.notes {
  margin-top: 0px;
  margin-left: -10px;
  position: absolute;
  width: 318px;
}
.reminder-text {
  width: 100%;
  margin: 20px 0;
  color: #fff;
  text-align: center;
  left: 0;
}
/* dates and guests */
.dates-and-guests {
  border-bottom: 0;
  border-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.8rem;
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333333;
}
.guests {
  cursor: pointer;
  border-bottom: 1px solid #ebebeb;
  transition: background-color 0.3s ease 0s;
  width: 100%;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.final-step {
  background-color: white;
  position: relative;
  z-index: 2;
  height: 0;
  top: 0;
  overflow-y: hidden;
  transition: height 0.3s ease 0s;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.bottom-content .pricing {
  border-top: 0;
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
}
.summary-content {
  display: block;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-size: 1.6rem;
  color: #A0A0A0;
  font-weight: 500;
  text-align: left;
}
.fee {
  display: block;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-size: 1.6rem;
  color: #333333;
  font-weight: 500;
  text-align: left;
}
/* buttons */
.book-cta {
  min-width: 150px;
  font-size: 16px;
}
.btn-primary.btn-flashy {
  border: 3px solid #40d9ac;
  box-sizing: border-box;
}
.btn-primary {
  padding-top: 9px;
  padding-bottom: 9px;
  color: #fff;
  background-color: #40d9ac;
}
.btn {
  white-space: nowrap;
  padding: 6px 12px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  line-height: 1.42;
  border-radius: 0;
  transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
  user-select: none;
}
.btn:hover {
  border: 3px solid #40d9ac;
  color: #40d9ac;
  background-color: #fff;
}
#booking-btn {
  padding: 6px 12px;
  position: relative;
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
}
#booking-btn:hover {
  border: 3px solid #40d9ac;
  color: #40d9ac;
  background-color: #fff;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-lg {
  line-height: 1.3333333;
  border-radius: 0;
}
button {
  font-family: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}
.check-in-btn {
  box-sizing: border-box;
  width: 50%;
  text-align: left;
  font-size: 85%;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  transition: background-color 0.3s ease 0s;
}
.check-out-btn {
  box-sizing: border-box;
  width: 50%;
  text-align: left;
  font-size: 85%;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  transition: background-color 0.3s ease 0s;
}
.submit {
  border-top: 0;
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
  position: relative;
}
.label {
  display: block;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-size: 1.6rem;
  color: #333333;
  font-weight: 500;
  text-align: left;
}
.clicked {
  background-color: #F3F3F3
}
.value {
  white-space: nowrap;
  color: #333333;
  font-size: 85%;
  color: #A0A0A0;
  display: inline-block;
  text-align: center;
}
.value.guests {
  text-align: left;
  padding-left: 0px;
}
select {
  cursor: default;
  font: 400 13.3333px Arial;
  margin-left: 125px;
}
#select {
  border:0px;
  outline:0px;
}
.select:focus {
  outline: none;
}
/* layout */
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-xs-6 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
.col-xs-12 {
  width: 100%;
}
.well {
  font-size: 1.8rem;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333333;
  background-color: white;
  padding: 10px;
  z-index: 1;
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  transition: top 0.3s ease 0s;
  border-bottom: 0;
  border-top: 0;
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
  background-color: white;
  border: 1px solid #ebebeb;
  padding: 10px;
  font-weight: 500;
  width: 50%;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333333;
  display: block;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-size: 1.8rem;
  color: #333333;
  font-weight: 500;
  width: 100%;
}
.well-content {
  border-bottom: 0;
  border-top: 0;
  background-color: white;
  border: 1px solid #ebebeb;
  padding: 10px;
}
.hidden {
  display: none !important;
}
.currentDatePickerMonth {
  width: 145px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.4rem;
  border-radius: 0;
  height: auto;
  text-align: center;
}
.available {
  font-size: 1.2em;
  font-weight: 300;
  display: table-cell;
  vertical-align: inherit;
  border: 1px solid #ebebeb;
  text-align: center;
  background-color: white;
}
.available:hover {
  background-color: #40D9AC;
}
.selected {
  font-size: 1.2em;
  font-weight: 300;
  display: table-cell;
  vertical-align: inherit;
  border: 1px solid #ebebeb;
  text-align: center;
  background-color: #40D9AC;
}
.unavailable {
  position: relative;
  font-size: 1.2em;
  font-weight: 300;
  display: table-cell;
  vertical-align: inherit;
  border:
  1px solid #ebebeb;
  text-align: center;
  color: #757575
}
.unavailable:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: black;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  -o-transform:rotate(40deg);
  transform:rotate(40deg);
}
table {
  display: table;
  text-indent: initial;
  border-color: grey;
  width: 100%;
  background-color: #f3f3f3;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  text-align: center;
  font-size: 0.95em;
  font-size: 1.2em;
  font-weight: 300;
  border: 1px solid #ebebeb;
  width: auto;
  height: 36px;
}
.table-condensed {
  padding: 5px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  cursor: pointer;
  font-size: 0.95em;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  border: 1px solid #ebebeb;
  width: auto;
  height: 36px;
  text-align: center;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 0;
  height: auto;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-align: center;
}
.next{
  content: "ï„…";
  right: 8px;
}
th.dow {
  height: 20px;
  padding: 0;
  font-size: 0.8em;
  color: #4d4d4d;
  background-color: #fff;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
td {
  display: table-cell;
  vertical-align: inherit;
  width: auto;
  height: 36px;
}
td.disabled {
  color: #757575 !important;
  background-color: #ebebeb !important;
  border-color: #ebebeb !important;
  position: relative;
  background: none;
  cursor: default;
}
td.disabled:hover {
  background: none;
  cursor: default;
}
td.day {
  font-size: 1.2em;
  font-weight: 300;
  border: 1px solid #ebebeb;
  color: #333333;
  background-color: #fff;
}

